/* estilos.css */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, rgba(144, 238, 144, 0.6), rgba(173, 216, 230, 0.6));
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    color: #333;
}

.contenedor-login {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 128, 0, 0.3);
    max-width: 400px;
    width: 100%;
}



.titulo {
    text-align: center;
    color: #2e8b57;
    margin-bottom: 20px;
}

.etiqueta {
    display: block;
    margin-bottom: 5px;
    color: #3cb371;
}

input[type="text"], input[type="password"], input[type="email"], input[type="date"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #90ee90;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: inset 0 2px 4px rgba(0, 128, 0, 0.1);
}

.boton {
    width: 100%;
    padding: 10px;
    background-color: #32cd32;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 128, 0, 0.2);
}

.boton:hover {
    background-color: #228b22;
    transform: scale(1.05);
}

.parrafo {
    text-align: center;
    font-size: 14px;
    color: #006400;
}

    .liga {
		display: inline-block;
        color: #2e8b57;
        text-decoration: none;
        margin: 10px 0;
        font-size: 14px;
        transition: color 0.3s ease, text-shadow 0.3s ease;
    }

    .liga:hover {
        color: #006400;
        text-shadow: 0 0 5px rgba(0, 128, 0, 0.5);
    }


        .error {
            color: red;
            text-align: center;
        }
		
ul{
	justify-content: left;
    align-items: left;
}


