:root {
    --primary: #0f3985;
    --secondary: #dd0b48;
}

/* Estilos de normalizacion */
body {
    margin: 0px;
}

html {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.dfcr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dfcc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bs {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}

.bs2 {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
}

.mw {
    width: 100%;
}

.ha {
    height: auto;
}

.header-img {
    width: 200px;
}

/* Estilos de las secciones */

/* styles header */
.main-header {
    padding: 30px 0px;
}

.main-navbar {
    height: 80px;
    background-color: var(--primary);
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.main {
    margin: 50px 0px;
    gap: 100px;
}

/* Navbar */
.links {
    gap: 25px;
    padding-left: 25px;
}

.sesion {
    padding-right: 25px;
}

.link {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
} 

.link:hover{
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    font-size: 21px;
    background-color: var(--secondary);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    transition: 700ms;
} 

/* S1Main */
.main.img-1 {
    width: 45%;
    height: auto;
}

.main-img-2 {
    width: 28%;
    height: auto;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
}

/* S2Carrucel */
.s2-carrusel-container {
    width: 100%;
    padding: 50px 0px;
    background-color: var(--primary);
    overflow: hidden;
    z-index: 1;
}

.s2-carrusel-container img {
    width: 90%;
    height: 600px;
    object-fit: cover;
    border-radius: 15px;
}

.s2-carrucel {
    background-color: var(--primary);
}

/* S3Cards */
.s3-cards-materias {
    background-color: white;
}

.s3-cards-materias .s3-info h2 {
    color: var(--primary);
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    margin-top: 75px;
}

.s3-cards-materias .s3-info h3 {
    font-size: 25px;
    text-align: center;
    line-height: 30px;
    margin: auto;
    margin-top: 50px;
}

.s3-cards-container {
    gap: 50px 100px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.s3-cards {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: var(--primary)
}

.s3-cards .s3-card-img .s3-img{
    width: 300px;
    height: 220px;
    border-radius: 10px 10px 0px 0px;
}

.info {
    text-align: center;
}

.s3-cards .s3-card-title {
    width: 300px;
    height: 110px;
    font-size: 13px;
    text-transform:capitalize;
    background-color: #dbdbdb;
    margin-top: -3px;
    color: var(--primary);
}

.s3-cards .s3-card-description {
    width: 300px;
    height: 70px;
    font-size: 20px;
    background-color: var(--secondary);
    border-radius: 0px 0px 10px 10px;
    text-align: center;
}

.s3-cards .s3-card-description a {
    color: white;
    text-decoration: none;
}

.s3-cards .s3-card-description a:hover {
    font-size: 22px;
    transition: 500ms;
}

/* S4Banner */
.s4-beneficios {
    margin: 40px 0px;
}

.s4-beneficios .s4-img {
    width: 90%;
}

.s4-banner {
    background-color: var(--primary);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    padding: 15px 0px;
}

.s4-banner-part1 {
    margin-top: 40px;
}

.s4-banner-part1 h2{
    color: white;
    font-size: 30px;
    margin: auto;
    margin-top: -30px;
    text-align: center;
}

.s4-banner-part2 {
    gap: 200px;
    color: white;
}

.s4-banner-part2 .s4-banner-1 {
    font-size: 18px;
    line-height: 20px;
}

.s4-banner-part2 .s4-banner-1 p span {
    color: var(--secondary);
    font-size: 25px;
}

.s4-banner-part2 .s4-banner-2 {
    font-size: 19px;
}

/* S5Testimonios */
.s5-testimonios {
    margin-top: 20px;
}

.s5-testimonios .s5-nosotros {
    padding-bottom: 20px;
}

.s5-testimonios .s5-nosotros h2 {
    color: var(--primary);
    font-size: 35px;
    text-align: center;
}

.s5-testimonios .s5-nosotros h3 {
    color: var(--secondary);
    font-size: 20px;
    text-align: justify;
    padding: 0px 50px;
}

.s5-testimonios .s5-nosotros p {
    font-size: 18px;
    padding: 0px 50px;
    text-align: justify;
    line-height: 35px;
}

.s5-testimonial {
    width: 100%;
    position: relative;
    padding: 10px 0px;
    background-color: #fff;
    overflow: hidden;
    z-index: 1;
}

.s5-testimonial .s5-testimonios-title {
    color: var(--primary);
    font-size: 25px;
}

.s5-testimonial img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: 200%;
}

.s5-testimonial .s5-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 5px;
}

.s5-testimonial .s5-slide p {
    margin: auto;
    width: 70%;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}

.s5-testimonial .s5-slide .s5-testimonio-nombre {
    text-transform: capitalize;
    font-size: 25px;
    color: var(--secondary);
}

/* S6Contactanos */
.s6-ubicacion {
    background-color: var(--primary);
}

.s6-ubicacion .s6-title h2 {
    color: white;
    font-size: 50px;
}

.s6-ubicacion .s6-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
}

.s6-ubicacion .s6-datos {
    width: 40%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    padding-bottom: 20px;
}

.s6-ubicacion .s6-datos h2 {
    color: var(--secondary);
    font-size: 30px;
    text-align: center;
}

.s6-ubicacion .s6-datos p {
    /* color: var(--primary); */
    font-size: 18px;
    text-align: justify;
    padding: 0px 50px;
}

.s6-ubicacion .s6-datos p i {
    color: var(--secondary);
    font-size: 25px;
    margin-right: 10px;
}

.s6-ubicacion .s6-datos .s6-horarios {
    text-align: center;
    font-size: 22px;
}

.s6-ubicacion .s6-datos .s6-boton {
    background-color: var(--secondary);
    border-radius: 15px;
    color: white;
    padding: 10px;
    text-decoration: none;
    margin: 0px auto;
}

.s6-ubicacion .s6-datos .s6-boton:hover {
    transition: 500ms;
    font-size: 18px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.s6-ubicacion .s6-mapa {
    width: 40%;
}

.s6-ubicacion .s6-mapa iframe {
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    width: 100%;
}

/* S7Banner */
.s7-banner-texto{ 
    color: var(--secondary);
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    padding: 30px;
}

/* S8Team */
.s8-team {
    background-color: #dbdbdb;
    padding-bottom: 50px;
    border-bottom: 2px solid white;
}

.s8-team h2 {
    font-size: 35px;
    text-transform: uppercase;
    background-color: var(--primary);
    padding: 10px 5px;
    width: 96%;
    color: white;
    text-align: center;
    border-radius: 15px;
}

.s8-team h3 {
    font-size: 30px;
    text-transform: uppercase;
}

.s8-team .s8-card-container {
    gap: 70px;
}

.s8-card {
    width: 400px;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    background-color: white;
}

.s8-card .s8-card-title {
    background-color: var(--primary);
    border-radius: 15px 15px 0px 0px;
}

.s8-card .s8-card-title h2 {
    color: white;
    font-size: 28px;
    text-align: center
}

.s8-card .s8-card-content h3 {
    color: var(--secondary);
    font-size: 22px;
    text-align: center;
    margin-top: 5px;
}

.s8-card .s8-card-content .s8-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.s8-card .s8-card-content .s8-content img {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    margin-left: 16px;
    
}

.s8-card .s8-card-content .s8-content p {
    text-align: justify;
    padding: 0px 26px;
}

.s8-card .s8-card-link {
    height: 70px;
    background-color: var(--secondary);
    border-radius: 0px 0px 15px 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.s8-card .s8-card-link i {
    color: white;
    font-size: 35px;
}

.s8-card .s8-card-link i:hover {
    transition: 500ms;
    font-size: 45px;
}

/* S9Footer */
.s9-footer {
    background-color: var(--secondary);
}

.s9-footer h2 {
    color: white;
    padding-top: 50px;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

.s9-footer .s9-redes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.s9-footer .s9-redes i {
    font-size: 25px;
    color: white;
}

.s9-footer .s9-redes i:hover {
    font-size: 30px;
    color: white;
    transition: 500ms;
}