.bloquea {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
.emergente {
	background-color: #ffffff;
    	display: none;
    	position: absolute;
    	top: 22%;
    	left: 25%;
    	width: 50%;
    	z-index:1002;
    	overflow: auto;
	padding:16 38 16 38;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;

}



.plan{
	display:inline-block;
	text-align:center;
	width:90%;
}

.materias{
	column-count:3;

}

.columnas{
	column-fill: auto;
}

.bt {
	font-size: 1.2vw;
	background-color: #5ba5b9;
	color: white;
	padding: .2em .4em;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

a{
	color:#2ba995;
	text-decoration:none;
}


#cuerpo{
	margin:10% 30% 10% 30%;
	background: #FFFFff; 
	padding:2% 0% 2% 10%;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	box-shadow: 5px 10px 7px rgba(0,0,0,0.5),-5px -10px 7px rgba(0,0,0,0.5);
}

#caja_texto{
	background: #ffffff;
	color: red; 
	font:normal 100% arial;
	padding:4px 4px 4px 4px;
	text-align:center;
}

.caja{

	display: inline-block;
	text-align:center;
	font-weight: bold;
	font-family: Tahoma, Arial, "Trebuchet MS";
	padding:1%;
	margin:1%;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	box-shadow: 5px 10px 7px rgba(81,255,85,0.5);
}


.c1{

	display: inline-block;
	text-align:center;
	font-size: 20px;
	font-weight: bold;
	color:#5ba5b9;
	font-family: Tahoma, Arial, "Trebuchet MS";
	height: 90px;
	width:180px;
	padding:15 20 20 20;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	box-shadow: 5px 10px 7px rgba(255,81,85,0.5);
}

.c1 > a:link{
	color:#5ba5b9;
	text-decoration:none;
	padding:0px 5px 0px 5px;
	
}

.c1 > a:visited{
	color:#5ba5b9;
	text-decoration:none;
	padding:0px 5px 0px 5px;
}

.c1 > a:hover{
	color:#2ba995;
	text-decoration:none;
	padding:0px 5px 0px 5px;
}

.c1 > a:focus{
	background:trasnparent;
	color:#5ba5b9;
	text-decoration:none;
	padding:0px 5px 0px 5px;
}

.menu{
	position: absolute;
	top:1.5vw;
	left:0.5 vw;
	font-family: trebuchet ms,verdana,helvetica,arial;
	font-size: 17px;
	height:23px;
	width:75%;
	background:#6fcce3;
	padding:6 16 0 16;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
}

.menu > a:link{
	color:#0000ff;
	text-decoration:none;
	padding:0px 5px 0px 5px;
	
}

.menu > a:visited{
	color:#0000ff;
	text-decoration:none;
	padding:0px 5px 0px 5px;
}

.menu > a:hover{
	text-decoration:none;
	padding:0px 5px 0px 5px;
}

.menu > a:focus{

	color:#0000ff;
	text-decoration:none;
	padding:0px 5px 0px 5px;
}



#tab1{
	background-color:#b8cce4;
	color:#000000
}

#tab2{
	background-color:#dbe5f1;
	color:#000000
}

#tab3{
	background-color:#98e4ac;
	color:#000000
}

#tab4{
	background-color:#e4ac98;
	color:#000000
}


.alerta{
	color:#aa0000;
	box-shadow: 1px 1px 10px rgba(100,0,0,0.3);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
}
