.btn-warning {
    background-color: #0e3b83; /* Color azul por defecto */
    color: white;
    border: none;
    transition: background-color 0.3s ease; /* Transición suave */
}

.btn-warning:hover {
    background-color: rgb(221, 11, 72); /* Color rojo al pasar el cursor */
}

.container {
box-shadow: 2px 2px 25px rgba(15, 57, 133, 0.6); /* Sombra con un tono azul */
padding: 20px;
background-color: #ffffff;/*color de nav*/
margin-bottom:20px;
border-collapse: separate;

}

