form{
   
      border:.1px solid;
    width:500px;
   margin: auto;
    text-align: center;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 10px;
}
form input{
     margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 12px;
}